Repository Studio-Yandex-Practicum/bmc_companion_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  description: Format the code using black
  entry: black
  language: python

isort:
  name: isort
  description: isort enforcement
  entry: isort .
  language: python

flake8:
  name: flake8
  description: Flake8 enforcement
  entry: flake8
  language: python

fix: Доработана функция обратной связи.
  adminpanel/src/schedule/admin.py
  adminpanel/src/schedule/models.py
  bot/src/handlers/meeting/feedback.py
  bot/src/services/schedule_service.py
Due: black, isort, flake8

fix: fixed lints
  adminpanel/src/schedule/admin.py
Due: black, isort, flake8

fix: fixed lints
  bot/src/schemas/requests.py
Due: black, isort, flake8

feat: feedback export to xlsx
  adminpanel/src/schedule/admin.py
Due: black, isort, flake8

feat: Добавлена информация о стоимости консультации.
  bot/src/core/constants.py
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/root_handlers.py
Due: black, isort, flake8

feat: Добавлен контейнер для adminpanel
  adminpanel/src/questioning/migrations/0002_alter_testprogress_options.py
  docker-compose.yml
  docker/adminpanel/Dockerfile
  docker/adminpanel/scripts/entrypoint.sh
  docker/adminpanel/scripts/start.sh
Due: black, isort

Create deploy_stage.yaml
  .github/workflows/deploy_stage.yaml
Due: none

fix: Исправил отображение цен
  adminpanel/src/schedule/api/v1/views.py
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/root_handlers.py
Due: black, isort, flake8

fix: Исправил отображение цен
  bot/src/handlers/meeting/meeting_first.py
Due: black, isort, flake8

Update deploy_stage.yaml
  .github/workflows/deploy_stage.yaml
Due: none

fix: Вынес цены и длительность в константы
  bot/src/core/constants.py
  bot/src/core/settings.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/root_handlers.py
Due: black, isort, flake8

fix: Правильная сортировка дат и проверка что есть новые психологи
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
Due: black, isort, flake8

fix: begin fix
  .gitignore
  adminpanel/src/config/settings/components/base.py
  adminpanel/src/config/urls.py
  adminpanel/src/schedule/api/v1/views.py
  bot/src/decorators.py
  bot/src/handlers/meeting/feedback.py
  bot/src/handlers/meeting/meeting_cancel.py
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/meeting_reschedule.py
  bot/src/handlers/meeting/root_handlers.py
  bot/src/handlers/questioning/questioning.py
  bot/src/handlers/questioning/root_handlers.py
  bot/src/handlers/questioning/test_selection.py
  bot/src/handlers/questioning/uce_test_selection.py
  bot/src/handlers/root_handlers.py
  docker-compose.yml
  docker/adminpanel/Dockerfile
  docker/adminpanel/scripts/entrypoint.sh
  docker/adminpanel/scripts/start.sh
  docker/nginx/templates/site.conf.template
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

fix: fixed getting update list
  bot/src/handlers/meeting/meeting_reschedule.py
  bot/src/schemas/responses.py
  bot/src/services/schedule_service.py
Due: black, isort, flake8

fix: bugs and style
  adminpanel/src/profiles/api/v1/views.py
  adminpanel/src/schedule/api/v1/views.py
  bot/src/decorators.py
  bot/src/handlers/meeting/feedback.py
  bot/src/handlers/meeting/meeting_cancel.py
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/meeting_reschedule.py
  bot/src/handlers/meeting/messages.py
  bot/src/handlers/meeting/root_handlers.py
Due: black, isort, flake8

refactor: swagger, phone validation, models
  adminpanel/src/config/settings/components/drf.py
  adminpanel/src/config/settings/environments/development.py
  adminpanel/src/config/urls.py
  adminpanel/src/profiles/models.py
  bot/src/handlers/meeting/meeting_first.py
  bot/src/handlers/meeting/meeting_repeat.py
Due: black, isort, flake8

fix: bugs and style
  bot/src/handlers/meeting/meeting_cancel.py
Due: black, isort, flake8

fix: bugs and style
  bot/src/handlers/meeting/feedback.py
Due: black, isort, flake8

feat: add user data export
  adminpanel/src/profiles/admin.py
  adminpanel/src/profiles/api/v1/views.py
  adminpanel/src/profiles/models.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

feat: add celery & celery_beat to docker
  adminpanel/src/schedule/tasks.py
  docker-compose.yml
  docker/celery/Dockerfile
  docker/celery/scripts/entrypoint.sh
  docker/celery/scripts/start.sh
  docker/celery_beat/Dockerfile
  docker/celery_beat/scripts/entrypoint.sh
  docker/celery_beat/scripts/start.sh
Due: black, isort, flake8

fix: добавление build adminpanel
  .github/workflows/deploy_stage.yaml
Due: none

fix: build adminpanel
  .github/workflows/deploy_stage.yaml
Due: none

fix: source paths
  .github/workflows/deploy_stage.yaml
Due: none

fix: add tasks deletion and recreation
  adminpanel/src/schedule/api/v1/views.py
  adminpanel/src/schedule/tasks.py
  bot/src/handlers/meeting/meeting_first.py
Due: black, isort, flake8

fix: notifications
  adminpanel/src/profiles/admin.py
  adminpanel/src/schedule/api/v1/views.py
  adminpanel/src/schedule/models.py
  adminpanel/src/schedule/tasks.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/meeting_reschedule.py
  bot/src/handlers/meeting/messages.py
Due: black, isort, flake8

fix: notifications
  adminpanel/src/schedule/api/v1/views.py
  bot/src/handlers/meeting/root_handlers.py
Due: black, isort, flake8

fix: rename docker-compose file
  .github/workflows/stage_delpoy.yaml
Due: none

fix: docker-compose
  docker-compose.stage.yaml
Due: none

fix: docker-compose
  .github/workflows/stage_delpoy.yaml
  docker-compose.stage.yaml
Due: none

fix: docker-compose
  .github/workflows/stage_delpoy.yaml
Due: none

fix: new feedback
  adminpanel/src/config/settings/components/base.py
  adminpanel/src/profiles/admin.py
  adminpanel/src/profiles/models.py
  adminpanel/src/schedule/admin.py
  adminpanel/src/schedule/api/v1/views.py
  adminpanel/src/schedule/models.py
  adminpanel/src/schedule/tasks.py
  bot/src/decorators.py
  bot/src/handlers/meeting/entrypoint.py
  bot/src/handlers/meeting/enums.py
  bot/src/handlers/meeting/feedback.py
  bot/src/handlers/meeting/helpers.py
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/schemas/responses.py
  bot/src/services/schedule_service.py
  docker/adminpanel/scripts/start.sh
Due: black, isort, flake8

fix: docker-compose
  .github/workflows/stage_delpoy.yaml
  docker-compose.stage.yaml
  docker/nginx/templates/site.conf.template
Due: none

fix: deploy files
  .github/workflows/stage_delpoy.yaml
Due: none

fix: deploy files
  .github/workflows/stage_delpoy.yaml
  docker/adminpanel/Dockerfile
  docker/bot/Dockerfile
Due: none

fix: deploy files
  bot/src/core/settings.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: /(migrations)/
