Repository Studio-Yandex-Practicum/bmc_companion_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
    -   repo: https://github.com/commitizen-tools/commitizen
        rev: v2.32.2
        hooks:
              -   id: commitizen
                  stages: [ commit-msg ]
    -   repo: local
        hooks:
            -   id: black
                name: black
                description: Format the code using black
                entry: black
                language: python
                types: [ python ]
            -   id: isort
                name: isort
                description: isort enforcement
                entry: isort .
                language: python
                types: [ python ]
            -   id: flake8
                name: flake8
                description: Flake8 enforcement
                entry: flake8
                language: python
                types: [ python ]
                exclude: /(migrations)/

fix: deploy files
  docker/nginx/templates/site.conf.template
Due: none

fix: deploy files
  docker-compose.stage.yaml
  docker/celery/Dockerfile
  docker/celery_beat/Dockerfile
Due: none

feat: add migrations
  adminpanel/src/content/migrations/0001_initial.py
  adminpanel/src/content/migrations/0002_fill_tests.py
  adminpanel/src/content/tests.json
  adminpanel/src/profiles/admin.py
  adminpanel/src/profiles/migrations/0001_initial.py
  adminpanel/src/questioning/migrations/0001_initial.py
  adminpanel/src/schedule/admin.py
  adminpanel/src/schedule/migrations/0001_initial.py
  docker-compose.stage.yaml
  docker/adminpanel/Dockerfile
Due: black, isort, flake8

fix: some fix
  .github/workflows/stage_delpoy.yaml
Due: none

fix: some fix
  .github/workflows/stage_delpoy.yaml
  docker-compose.stage.yaml
Due: none

fix: some fix
  docker-compose.stage.yaml
  docker/adminpanel/scripts/celery.sh
  docker/adminpanel/scripts/celery_beat.sh
Due: none

fix: some fix
  docker-compose.stage.yaml
  docker/adminpanel/scripts/entrypoint_adminpanel.sh
  docker/adminpanel/scripts/entrypoint_celery.sh
  docker/adminpanel/scripts/entrypoint_celery_beat.sh
  docker/adminpanel/scripts/start_adminpanel.sh
  docker/adminpanel/scripts/start_celery.sh
  docker/adminpanel/scripts/start_celery_beat.sh
Due: none

fix: some fix
  poetry.lock
  pyproject.toml
Due: none

fix: some fix
  docker-compose.stage.yaml
Due: none

fix: merge conflict
  adminpanel/src/profiles/admin.py
  adminpanel/src/schedule/admin.py
Due: black, isort, flake8

fix: merge conflict
  adminpanel/src/questioning/services.py
  bot/src/handlers/meeting/meeting_first.py
Due: black, isort, flake8

fix: merge conflict
  bot/src/handlers/meeting/meeting_repeat.py
  bot/src/handlers/meeting/meeting_reschedule.py
  bot/tests/unit/test_obj_api_client.py
  docker/scripts/wait-dependencies.sh
Due: black, isort, flake8

fix: merge conflict
  webapi/Dockerfile
  webapi/scripts/entrypoint.sh
  webapi/scripts/start.sh
Due: none

fix: merge conflict
  docker/webapi/Dockerfile
  docker/webapi/scripts/entrypoint.sh
  docker/webapi/scripts/start.sh
Due: none

fix: merge conflict
  docker-compose.stage.yaml
Due: none

fix: add-migrations
  adminpanel/src/profiles/migrations/0001_initial.py
  adminpanel/src/schedule/migrations/0001_initial.py
Due: black, isort

fix: add-migrations
  docker/adminpanel/scripts/start_adminpanel.sh
Due: none

fix: add-migrations
  .github/workflows/stage_delpoy.yaml
  docker/adminpanel/scripts/start_adminpanel.sh
Due: none

fix: add-migrations
  adminpanel/src/profiles/migrations/0002_allusersnotification.py
  adminpanel/src/schedule/migrations/0002_remove_meetingfeedback_score_and_more.py
Due: black, isort

fix: add-migrations
  bot/src/handlers/meeting/feedback.py
Due: black, isort, flake8

fix: add-migrations
  bot/src/handlers/meeting/meeting_cancel.py
Due: black, isort, flake8

fix: add-migrations
  bot/src/handlers/meeting/meeting_reschedule.py
Due: black, isort, flake8
