Repository Studio-Yandex-Practicum/bmc_companion_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  description: Format the code using black
  entry: black
  language: python

isort:
  name: isort
  description: isort enforcement
  entry: isort .
  language: python

flake8:
  name: flake8
  description: Flake8 enforcement
  entry: flake8
  language: python

feat: добавлен роутер questions
  webapi/src/app/__init__.py
Due: black, isort, flake8

feat: добавлена модель StatusResponse
  webapi/src/app/schemas/core.py
Due: black, isort, flake8

feat: добавлены схемы для Question
  webapi/src/app/schemas/questions.py
Due: black, isort, flake8

feat: CRUD для Question
  webapi/src/app/api/v1/questions/__init__.py
  webapi/src/app/api/v1/questions/routers.py
Due: black, isort, flake8

feat: добавлена библиотека lask-rest-paginate
  poetry.lock
  pyproject.toml
Due: none

test: тесты для HTTP-обвязки APIСlient
  bot/tests/unit/test_api_client.py
Due: black, isort, flake8

fix: правки кода HTTP-обвязки APIClient
  bot/src/request/clients.py
Due: black, isort, flake8

fix: исключения APIClient вынесены в отдельный модуль
  bot/src/request/clients.py
  bot/src/request/exceptions.py
Due: black, isort, flake8

chore: устранение конфликта зависимостей с develop
  poetry.lock
  pyproject.toml
Due: none

chore: устранение конфликта зависимостей с develop
  pyproject.toml
Due: none

feat: Внесены изменения в CRUD User, добавлны exceptions, изменение схем
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/register_routes.py
  webapi/src/app/api/v1/users/__init__.py
  webapi/src/app/api/v1/users/routes.py
  webapi/src/app/core/exceptions.py
  webapi/src/app/schemas/core.py
  webapi/src/app/schemas/users.py
  webapi/src/app/utils.py
Due: black, isort, flake8

feat: реализация обвязки для HTTP-запросов к web-API (#14)
  bot/src/core/constants.py
  bot/src/core/settings.py
  bot/src/request/clients.py
  bot/src/request/exceptions.py
  bot/tests/__init__.py
  bot/tests/unit/__init__.py
  bot/tests/unit/test_api_client.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

fix: исправлен вызов функций для временых меток
  webapi/src/app/models/base.py
Due: black, isort, flake8

fix: убрана схема их модели users
  webapi/src/app/models/users.py
Due: black, isort, flake8

fix: убрана схема их модели meetings
  webapi/src/app/models/meetings.py
Due: black, isort, flake8

fix: поправлен импорт моделей
  webapi/src/app/models/__init__.py
Due: black, isort, flake8

fix: новые миграции без схем моделий
  webapi/src/migrations/versions/014618344c04_fix_новая_миграция_без_схемы_для_модели_.py
  webapi/src/migrations/versions/595bbbec2ef4_fix_новая_миграция_без_схемы_для_модели_.py
Due: black, isort

fix: добавлен для поля name в модели users_roles
  webapi/src/app/models/users.py
Due: black, isort, flake8

fix: добавлен , для поля name в модели meetings_meeting_types
  webapi/src/app/models/meetings.py
Due: black, isort, flake8

fix: добавлены , для поля name
  webapi/src/migrations/versions/d85b329bcf5c_fix_дополнение_к_полю_name.py
Due: black, isort

Revert "Feat/question type"
  poetry.lock
  pyproject.toml
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/questions/__init__.py
  webapi/src/app/api/v1/questions/routers.py
  webapi/src/app/models/__init__.py
  webapi/src/app/models/base.py
  webapi/src/app/models/tests.py
  webapi/src/app/schemas/core.py
  webapi/src/app/schemas/questions.py
  webapi/src/migrations/versions/9cdd67ad6ae8_добавлена_модель_question_types.py
Due: black, isort, flake8

feat: добавил функцию scheldue_appointment
  schelduer.py
  ya_calendar_testing.py
Due: black, isort, flake8

feat: добавил функцию scheldue_appointment
  schelduer.py
Due: black, isort, flake8

feat: добавлена модель QuestionType
  bot/src/handlers/constants.py
  pyproject.toml
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/questions/__init__.py
  webapi/src/app/api/v1/questions/routers.py
  webapi/src/app/models/__init__.py
  webapi/src/app/models/base.py
  webapi/src/app/models/tests.py
  webapi/src/app/schemas/core.py
  webapi/src/app/schemas/questions.py
  webapi/src/migrations/versions/4ff4236078f0_feat_add_questiontype_model.py
Due: black, isort, flake8

feat: добавление схемы query запросов, правки в routes
  webapi/src/app/api/v1/users/routes.py
  webapi/src/app/schemas/users.py
  webapi/src/app/utils.py
Due: black, isort, flake8

fix: поправлен гит конфликт
  webapi/src/app/models/__init__.py
  webapi/src/app/models/base.py
  webapi/src/app/models/meetings.py
  webapi/src/app/models/users.py
  webapi/src/migrations/versions/014618344c04_fix_новая_миграция_без_схемы_для_модели_.py
  webapi/src/migrations/versions/595bbbec2ef4_fix_новая_миграция_без_схемы_для_модели_.py
  webapi/src/migrations/versions/d85b329bcf5c_fix_дополнение_к_полю_name.py
  webapi/src/migrations/versions/e4eaf85409cf_initial_models.py
Due: black, isort, flake8

docs: черновик архитектуры сервиса тестов
  docs/tests-architecture.drawio
Due: none

feat: в core добавлена схема для получения списка элементовв
  webapi/src/app/api/v1/users/routes.py
  webapi/src/app/schemas/core.py
  webapi/src/app/schemas/users.py
Due: black, isort, flake8

fix: установлена связь many-to-one для user_roles
  webapi/src/app/models/users.py
  webapi/src/migrations/versions/7cfe7d75230b_initial_models.py
Due: black, isort, flake8

fix: поправлена миграция
  webapi/src/migrations/versions/72e4b471e41b_initial_models.py
Due: black, isort

fix: исправлен конфликт зависимостей
  webapi/src/app/__init__.py
Due: black, isort, flake8

fix: добавлена миграция
  webapi/src/migrations/versions/3f920242e8ea_add_questiontype.py
Due: black, isort

fix: подключение роутеров происходит из одного модуля
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/questions/__init__.py
  webapi/src/app/api/v1/questions/routers.py
  webapi/src/app/api/v1/register_routes.py
  webapi/src/app/api/v1/users/routes.py
Due: black, isort, flake8

fix: изменена пагинация
  webapi/src/app/api/v1/questions/routers.py
  webapi/src/app/models/tests.py
  webapi/src/app/schemas/questions.py
Due: black, isort, flake8

fix: возвращены методы to_dict и from_dict
  webapi/src/app/models/tests.py
Due: black, isort, flake8

docs: обновлен черновик архитектуры сервиса тестов
  docs/tests-architecture.drawio
Due: none

feat: реализована модель Test, endpoints и схемы
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/register_routes.py
  webapi/src/app/api/v1/tests/__init__.py
  webapi/src/app/api/v1/tests/routers.py
  webapi/src/app/models/__init__.py
  webapi/src/app/models/tests.py
  webapi/src/app/schemas/tests.py
  webapi/src/migrations/versions/bf3e4ccd019c_added_test_model.py
Due: black, isort, flake8

feat: реализована модель Test, endpoints и схемы
  webapi/src/app/__init__.py
Due: black, isort, flake8

fix: pep8
  webapi/src/app/api/v1/questions/routers.py
Due: black, isort, flake8

fix: в роутере применена новая схема.
  webapi/src/app/api/v1/questions/routers.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: /(migrations)/
