Repository Studio-Yandex-Practicum/bmc_companion_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
    -   repo: https://github.com/commitizen-tools/commitizen
        rev: v2.32.2
        hooks:
              -   id: commitizen
                  stages: [ commit-msg ]
    -   repo: local
        hooks:
            -   id: black
                name: black
                description: Format the code using black
                entry: black
                language: python
                types: [ python ]
            -   id: isort
                name: isort
                description: isort enforcement
                entry: isort .
                language: python
                types: [ python ]
            -   id: flake8
                name: flake8
                description: Flake8 enforcement
                entry: flake8
                language: python
                types: [ python ]
                exclude: /(migrations)/

feat: initial
  README.md
Due: none

добавлен workflow с lint-black и lint-flake8
  .github/workflows/lint.yml
Due: none

added badges
  README.md
Due: none

fix: Добавлено описание проекта и авторы в pyproject.toml
  pyproject.toml
Due: none

feat: реализован handler для команды start
  bot/src/handlers/__init__.py
  bot/src/handlers/constants.py
  bot/src/handlers/start.py
  bot/src/run.py
Due: black, isort, flake8

feat: добавлена библиотека Faker в группу tests
  poetry.lock
  pyproject.toml
Due: none

оглавление и дропдауны README.md
  README.md
Due: none

fix: ci
  .github/workflows/lint.yml
Due: none

docs: оглавление и дропдауны README.md
  README.md
Due: none

docs: добавлены бейджики
  README.md
Due: none

feat: реализована модель Meeting
  webapi/src/app/models/__init__.py
  webapi/src/app/models/meeting_types.py
  webapi/src/app/models/meetings.py
  webapi/src/migrations/versions/c92054689c4e_добавлена_модель_meeting.py
Due: black, isort, flake8

feat: реализована абстрактная модель General
  webapi/src/app/models/__init__.py
  webapi/src/app/models/generals.py
  webapi/src/app/models/meeting_types.py
  webapi/src/app/models/meetings.py
  webapi/src/app/models/users.py
Due: black, isort, flake8

fix: Изменения в pyproject.toml
  pyproject.toml
Due: none

feat: добавлено главное меню
  bot/src/ui/__init__.py
  bot/src/ui/constants.py
  bot/src/ui/main_menu.py
Due: black, isort, flake8

feat: ui меню вызывается из хэндлера start
  bot/src/handlers/start.py
Due: black, isort, flake8

feat: http-binding initial structure
  bot/src/request/clients.py
Due: black, isort, flake8

feat: Реализована схема general
  webapi/src/app/models/__init__.py
  webapi/src/app/models/base.py
  webapi/src/app/models/general.py
  webapi/src/app/models/users.py
  webapi/src/migrations/versions/429d5433be47_new_model_user.py
  webapi/src/migrations/versions/f7cc230c4714_реализована_схема_general.py
Due: black, isort, flake8

feat: Реализована схема meetings
  webapi/src/app/models/__init__.py
  webapi/src/app/models/meetings.py
  webapi/src/migrations/versions/2977aab5bdca_реализована_схема_meetings.py
Due: black, isort, flake8

feat: элементы меню вынесены в отдельный класс
  bot/src/ui/constants.py
  bot/src/ui/main_menu.py
Due: black, isort, flake8

feat: http-binding API URL
  bot/src/core/settings.py
  bot/src/request/clients.py
Due: black, isort, flake8

chore: добавлена библиотека httpx
  poetry.lock
  pyproject.toml
Due: none

chore: добавлены библиотеки flask-pydantic, flask-restful и spectree
  poetry.lock
  pyproject.toml
Due: none

feat: добавлена аннотация типов
  bot/src/ui/main_menu.py
Due: black, isort, flake8

chore: добавлены библиотеки flask-pydantic, flask-restful и spectree (#13)
  poetry.lock
  pyproject.toml
Due: none

feat: классы элементов меню вынесены в папку core
  bot/src/ui/__init__.py
  bot/src/ui/core.py
  bot/src/ui/main_menu.py
Due: black, isort, flake8

feat: удален файл констант
  bot/src/ui/constants.py
  bot/src/ui/core.py
Due: black, isort, flake8

feat: реализована обвязка для HTTP-запросов
  bot/src/request/clients.py
Due: black, isort, flake8

feat: добавлен autoincrement
  webapi/src/app/models/base.py
Due: black, isort, flake8

fix: поправлены миграции
  webapi/src/migrations/versions/07931b05a239_реализована_схема_meetings.py
  webapi/src/migrations/versions/7fcdd7e0fdab_реализована_схема_general.py
Due: black, isort

feat: добавлена модель question_types
  webapi/src/app/models/tests.py
Due: black, isort, flake8

feat: добавлены миграции
  webapi/src/migrations/versions/c1e63e9e79e2_добавлена_модель_question_types.py
Due: black, isort

fix: исправлены ошибки в модели question_types
  webapi/src/app/models/tests.py
Due: black, isort, flake8

feat: созданы миграции
  webapi/src/migrations/versions/9cdd67ad6ae8_добавлена_модель_question_types.py
Due: black, isort

test: CalDAV
  .env.template
  poetry.lock
  pyproject.toml
  ya_calendar_testing.py
Due: black, isort, flake8

test: pytest для bot/src
  bot/tests/__init__.py
  bot/tests/unit/__init__.py
  bot/tests/unit/test_api_client.py
  pyproject.toml
Due: black, isort, flake8

fix: правки по ревью PR
  bot/src/core/constants.py
  bot/src/request/clients.py
Due: black, isort, flake8

feat: Добавлены schemas, endpoints для работы с моделью User
  webapi/src/app/__init__.py
  webapi/src/app/api/v1/users/__init__.py
  webapi/src/app/api/v1/users/routes.py
  webapi/src/app/models/base.py
  webapi/src/app/models/general.py
  webapi/src/app/schemas/users.py
Due: black, isort, flake8

feat: реализована модель Test, endpoints и схемы
  webapi/src/app/api/v1/tests.py
  webapi/src/app/models/tests.py
  webapi/src/app/schemas/tests.py
Due: black, isort, flake8

fix: в base исправлен вызов функции, в tests добавлены to_dict и from_dict
  webapi/src/app/models/base.py
  webapi/src/app/models/tests.py
Due: black, isort, flake8
